/* Resetowanie stylów */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  body {
	background-color: #333;
	font-family: 'Railway', sans-serif;
	}

  ::-webkit-scrollbar {
    width: 8px; /* szerokość paska przewijania */
  }
  
  ::-webkit-scrollbar-track {
    background: #343a40; /* kolor tła paska przewijania */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #740297; /* kolor punktu, w którym znajduje się użytkownik */
    border-radius: 10px; /* zaokrąglenie punktu */
    border: none;
  }

  /* Pasek przewijania */
::-webkit-scrollbar {
  width: 8px;
}s

::-webkit-scrollbar-track {
  background: #343a40;
}

::-webkit-scrollbar-thumb {
  background: #740297;
  border-radius: 10px;
  border: none;
}

/* Prefiksy dla innych przeglądarek */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #740297 #343a40;
}

/* Edge i IE */
*::-ms-scrollbar {
  width: 8px;
}

*::-ms-scrollbar-track {
  background: #343a40;
}

*::-ms-scrollbar-thumb {
  background: #740297;
  border-radius: 10px;
  border: none;
}


  .hamburger-menu {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
  }
  
  .hamburger-menu label {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .hamburger-menu i {
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
  
  
  .menu {
    position: absolute;
    bottom: 60px;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    background-color: #a443ff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked + label + .menu {
    opacity: 1;
    pointer-events: auto;
  }
  
	
	.background-overlay {
	background-size: cover;
	background-position: center center;
	mix-blend-mode: overlay;
	background-image: url('assets/images/header.jpg');
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(70, 70, 70, 0.8);
	filter: blur(10px);
	opacity: 50%;
	}

  .skill {
    width: 30%;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #8b00ff;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  
  .skill:hover {
    transform: scale(1.1);
  }

  

  footer p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  footer a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #8b00ff;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  footer a:hover {
    background-color: #8b00ff;
    color: #ffffff;
  }

  

  

  footer {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #8b00ff;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: transparent; /* Usunięcie tła */
  }
  

  .skills-container {
    /* ... */
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  /* Styl logo */
  .logo-container {
	display: flex;
	justify-content: center;
	margin-top: 40px;
  }
  
  .logo-container img {
	width: 211.5px;
	height: 183px;
  }
  
  
  /* Styl sekcji umiejętności */
  .skills-container {
	display: flex;
	justify-content: space-around;
	margin: 50px auto;
	max-width: 800px;
  }
  
  .skill {
	width: 30%;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	border: 2px solid #8b00ff;
	border-radius: 10px;
	padding: 10px;
  }
  
  
  .skill-name {
	margin: 10px 0;
	font-size: 20px;
	color: #ffffff;
  }
  
  .skill-bar {
	background-color: #616161;
	border-radius: 10px;
	height: 20px;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
  }
  
  .skill-level {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #8b00ff;
	border-radius: 10px;
	animation: progress 2s ease-out forwards;
	color: white;
	font-weight: bold;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .skill-level::after {
	content: "%";
	margin-left: 5px;
  }
  
  
  @keyframes progress {
	from {
	  width: 0%;
	}
	to {
	  width: 80%;
	}
  }
  
  
  
  .button-container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
  }
  
  .main-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #8b00ff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
  }
  
  .main-button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    transition: width 0.3s ease-in-out;
  }
  
  .main-button:hover:before {
    width: 100%;
  }
  
  .main-button:hover {
    background-color: #ffffff;
    color: #8b00ff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
  }
  
  .main-button:focus {
    outline: none;
    transform: translateY(2px);
  }
  
  @media (max-width: 767px) {
    .main-button {
      padding: 8px 24px;
      font-size: 16px;
    }
  }
  


.description-container {
  margin: 50px auto;
  max-width: 800px;
  text-align: center;
  border: 2px solid #8b00ff;
  border-radius: 20px;
  padding: 30px;
  background-color: #363636;
  box-shadow: 0 5px 10px rgba(173, 173, 173, 0.2);
}

.description-container p {
  margin: 20px 0;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

@media (max-width: 767px) {
  .description-container {
    padding: 20px;
    border-radius: 10px;
  }
  .description-container p {
    font-size: 16px;
  }
}

footer {
  background-color: #414141;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}

footer a {
  color: #8e44ad;
  text-decoration: none;
}


.kofi-link {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}

.kofi-icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  transform: translateY(0);
  transition: transform 0.2s ease-out;
}

.kofi-icon img {
  width: 44px;
  height: 28px;
  vertical-align: middle;
  transition: all 0.2s ease-out;
}

/* Styl dla efektu hover */
.kofi-icon:hover {
  transform: translateY(-5px);
}

.kofi-icon:hover img {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.desginby {
  margin-top: 10px;
}

.coffee-section {
  margin-top: 10px;
}

  
  
  
