/* Styl dla napisu "Buy me a coffee!" i ikony Ko-fi */
.kofi-link {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}

.kofi-icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  transform: translateY(0);
  transition: transform 0.2s ease-out;
}

.kofi-icon img {
  width: 44px;
  height: 28px;
  vertical-align: middle;
  transition: all 0.2s ease-out;
}

/* Styl dla efektu hover */
.kofi-icon:hover {
  transform: translateY(-5px);
}

.kofi-icon:hover img {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.right {
  position: relative;
}

.social-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.social-icons a {
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #ccc;
}

.social-icons a i {
  font-size: 20px;
  color: #fff;
}



.icon-instagram {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png);
  background-size: cover;
}

.icon-tiktok {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.icon-icons.com%2Ficons2%2F2992%2FPNG%2F512%2Ftiktok_logo_icon_187324.png&f=1&nofb=1&ipt=911e76aa9a7752b2cf7083517e925fa7c6dce8fe7dd78cb176b1fa1a88e98eb3&ipo=images);
  background-size: cover;
}

.icon-github {
  background-image: url(https://cdn.icon-icons.com/icons2/1826/PNG/512/4202098codedevelopergithublogo-115590_115711.png);
  background-size: cover;
}

.social-icons a {
  transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.2);
}

@media (max-width: 767px) {
  .social-icons {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
  }
}


:root {
  --main-color: #740297;
}

iframe {
  border: 5px solid var(--main-color);
  border-radius: 10px;

}

@keyframes changeColor {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}


::-webkit-scrollbar {
  width: 8px; /* szerokość paska przewijania */
}

::-webkit-scrollbar-track {
  background: #343a40; /* kolor tła paska przewijania */
}

::-webkit-scrollbar-thumb {
  background: #740297; /* kolor punktu, w którym znajduje się użytkownik */
  border-radius: 10px; /* zaokrąglenie punktu */
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}







