/* Resetowanie stylów */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #333;
	font-family: 'Railway', sans-serif;
}

header {
	background-color: #8b00ff;
	color: #fff;
	padding: 20px;d
	text-align: center;
}

header h1 {
	font-size: 36px;
	margin: 0;
}

main {
	color: #fff;
	max-width: 800px;
	margin: 50px auto;
	padding: 20px;
	background-color: #5f5f5f;
	border: 2px solid #8b00ff;
	border-radius: 10px;
}

main h2 {
	font-size: 24px;
	margin-top: 20px;
}

main p {
	font-size: 18px;
	line-height: 1.5;
	margin-top: 10px;
}

footer {
	background-color: #8b00ff;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

footer p {
	font-size: 16px;
	margin: 0;
}

