html, body {
    <div class="snowflake"></div> ... ... ... <div class="snowflake"></div> <div class="snowflake"></div> <!-- 50 times ! -->
    .snowflake

{
    --size: 1vw;
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
}





}
